# Maven build
**/target/

# IDEs
.idea/
.vscode/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

**/application.properties

user-service/src/main/resources/application.properties
post-service/src/main/resources/application.properties
Bid-service/src/main/resources/application.properties
sms-service/src/main/resources/application.properties
